<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<div class="show-content">
  <p>
    <strong>Content:</strong>
    <%= @article.content %>
  </p>
</div>

<p>
  <strong>Author:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @article.created_at.strftime('%B %d, %Y %H:%M') %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <div class="comment">
    <p>
      <strong>Commenter:</strong>
      <%= comment.user.email %>
    </p>

    <p>
      <%= comment.body %>
    </p>

    <% if comment.user == current_user || @article.user == current_user %>
      <%= form_with(model: [comment], url: article_comment_path(@article, comment), method: :delete, local: true) do |form| %>
        <%= form.submit 'Delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<br>

<% if user_signed_in? %>
  <h3>New Comment</h3>
  <%= form_with(model: [@article, @article.comments.build], local: true) do |form| %>
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, required: true %>
    </div>
    <div class="actions">
      <%= form.submit 'Post Comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <p>You must be signed in to post a comment.</p>
<% end %>

<br>

<% if user_signed_in? && current_user == @article.user %>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-secondary' %>
  <%= link_to 'Destroy', destroy_confirmation_article_path(@article), class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
